<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!-- Basic -->

<head th:replace="fragments::head">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<!-- Start Main Top -->
<div th:replace="fragments::main-top">
</div>
<!-- End Main Top -->


<!-- Start Main Top -->
<header th:replace="fragments::main-header">
</header>
<!-- End Main Top -->

<!-- Start Top Search -->
<div th:replace="fragments::top-search">
</div>
<!-- End Top Search -->

<!-- Start All Title Box -->
<div th:replace="fragments::slider">

</div>
<!-- End All Title Box -->

<!-- Start Cart  -->
<div class="cart-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div th:if="${check}" class="text-center alert-warning">
                    <p th:text="${check}"></p>
                </div>
                <div class="table-main table-responsive" th:if="${check == null}">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Images</th>
                            <th>Product Name</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="cartItem : ${shoppingCart.cartItem}">
                            <td class="thumbnail-img">
                                <a href="#">
                                    <img class="img-fluid"
                                         th:src="*{'data:image/jpeg;base64,' + cartItem.product.image}" alt=""/>
                                </a>
                            </td>
                            <td class="name-pr">
                                <p th:text="${cartItem.product.name}"></p>
                            </td>
                            <td class="price-pr">
                                <p th:text="'$' + ${cartItem.product.costPrice}"></p>
                            </td>
                            <form th:action="@{/update-cart}" method="post">
                                <input type="hidden" name="id" th:value="${cartItem.product.id}">
                                <td class="quantity-box"><input type="number" size="4" th:value="${cartItem.quantity}"
                                                                name="quantity" min="0" step="1"
                                                                class="c-input-text qty text"></td>
                                <td class="total-pr">
                                    <p th:text="'$' + ${cartItem.totalPrice}"></p>
                                </td>
                                <td class="remove-pr">
                                    <button type="submit" name="action" value="update" title="Update"
                                            class="btn btn-primary">Update
                                    </button>

                                    <button type="submit" name="action" value="delete" title="Delete"
                                            class="btn btn-warning">Delete
                                    </button>
                                </td>
                            </form>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row my-5">
            <div class="col-lg-8 col-sm-12"></div>
            <div class="col-lg-4 col-sm-12">
                <div class="order-box">
                    <h3>Order summary</h3>
                    <div class="d-flex">
                        <h4>Sub Total</h4>
                        <div class="ml-auto font-weight-bold" th:text = "${subTotal}"> </div>
                    </div>
                    <div class="d-flex">
                        <h4>Discount</h4>
                        <div class="ml-auto font-weight-bold"> $0</div>
                    </div>
                    <hr class="my-1">
                    <div class="d-flex">
                        <h4>Tax</h4>
                        <div class="ml-auto font-weight-bold"> $2</div>
                    </div>
                    <div class="d-flex">
                        <h4>Shipping Cost</h4>
                        <div class="ml-auto font-weight-bold"> Free</div>
                    </div>
                    <hr>
                    <div class="d-flex gr-total">
                        <h5>Grand Total</h5>
                        <div class="ml-auto h5" th:text = " '$' + ${subTotal + 2 }"> </div>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="col-12 d-flex shopping-box"><a th:href="@{/check-out}" class="ml-auto btn hvr-hover">Checkout</a>
            </div>
        </div>

    </div>
</div>
<!-- End Cart -->

<!-- Start Feed  -->
<div th:replace="fragments::instagram-box">
</div>

<!-- End Feed  -->


<!-- Start Footer  -->
<footer th:replace="fragments::footer">
</footer>


<div th:replace="fragments::script"></div>
</body>

</html>