<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!-- Basic -->

<head th:replace="~{fragments::head}">


</head>

<body>
<div th:replace="~{fragments::main-top}"></div>
<!-- End Main Top -->

<!-- Start Main Top -->
<header th:replace="~{fragments::main-header}"></header>
<!-- End Main Top -->

<!-- Start Top Search -->
<div th:replace="~{fragments::top-search}">
</div>
<!-- End Top Search -->

<!-- Start Slider -->
<div id="slides-shop" class="cover-slides">
    <ul class="slides-container">
        <li class="text-center">
            <img src="images/Fish 01 - Fish Tacos.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome To <br> Ocean Prime Seafoods</strong></h1>
                        <p class="m-b-40">Enjoy your meal! <br> Have you a good, fun working day and delicious meal!</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center">
            <img src="images/Crab 02 - Crab Toast.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome To <br> Ocean Prime Seafoods</strong></h1>
                        <p class="m-b-40">Enjoy your meal! <br> Have you a good, fun working day and delicious meal!</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center">
            <img src="images/Shrimp 01 - Shrimp Monterey.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <h1 class="m-b-20"><strong>Welcome To <br> Ocean Prime Seafoods</strong></h1>
                        <p class="m-b-40">Enjoy your meal! <br> Have you a good, fun working day and delicious meal!</p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="slides-navigation">
        <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    </div>
</div>
<!-- End Slider -->


<!-- Start About Page  -->
<div class="about-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="banner-frame"><img class="img-fluid" src="images/Intro.png" alt=""/>
                </div>
            </div>
            <div class="col-lg-6">
                <h2 class="noo-sh-title-top">We are <span>Ocean Prime Seafoods</span></h2>
                <p>Seafood is our only business. Having spent many years in the seafood business, we know where to find
                    the best products.
                    Ocean Prime Seafoods deals only with high-end processors and reliable importers. We handle quality
                    products that
                    we would serve to our friends and family. If it is good enough for our table, you will want it on
                    yours!</p>
                <p>At Ocean Prime, you can choose the best of both. Here, guests are invited on an adventure in great
                    food. We will create a great experience for you.</p>
                <p>Our menu is both classic and modern featuring lighter items to indulgent seafood presentations like
                    crab, shrimp, lobster,...
                    We deliver more than just incredible food: We create remarkable experiences.</p>
                <a class="btn hvr-hover" href="#">Read More</a>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>We are Trusted</h3>
                    <p>Lorem Ocean Prime Seafoods deals only with high-end processors and reliable importers.
                        We handle quality products that we would serve to our friends and family. </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>We are Professional</h3>
                    <p>Here, guests are invited on an adventure in great food. We will create a great experience for
                        you.
                        We deliver more than just incredible food: We create remarkable experiences.
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>We are Expert</h3>
                    <p>We Have spent many years in the seafood business, we know where to find the best products.
                        Our menu is both classic and modern featuring lighter items to indulgent seafood presentations
                        like crab, shrimp, lobster,... </p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Start Feed  -->
<div th:replace="~{fragments::instagram-box}">
</div>

<!-- End Feed  -->


<!-- Start Footer  -->
<footer th:replace="~{fragments::footer}">

</footer>


<!-- ALL JS FILES -->
<div th:replace="~{fragments::script}"></div>
</body>

</html>