<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!-- Basic -->

<head>
    <div th:replace="~{fragments::head}"></div>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<!-- Start Main Top -->
<div th:replace="~{fragments::main-top}"></div>
<!-- End Main Top -->

<!-- Start Main Top -->
<header th:replace="~{fragments::main-header}"></header>
<!-- End Main Top -->

<!-- Start Top Search -->
<div th:replace="~{fragments::top-search}">
</div>
<!-- End Top Search -->

<!-- Start Slider -->
<div th:replace="~{fragments::all-title-box}">
</div>
<!-- End Slider -->

<!-- Start Products  -->
<div class="products-box">
    <div class="container" th:each="category : ${categories}">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1 th:text="${category.name}"></h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="special-menu text-center">
                    <div class="button-group filter-button-group">
                        <button class="active" data-filter="*">All</button>
                        <button data-filter=".best-seller">Best seller</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row special-list">
            <div class="col-lg-3 col-md-6 special-grid" th:each="product : ${products}"
                 th:if="${category.name == product.category.name}">
                <form th:action="@{/add-to-cart}" method="post">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img th:src="'data:image/jpeg;base64,' + ${product.image}" class="img-fluid" alt="Image">
                            <div class="mask-icon">
                                <ul>
                                    <li><a th:href="@{/product-detail/{id}(id = ${product.id})}" data-toggle="tooltip"
                                           data-placement="right"
                                           title="View"><i class="fas fa-eye"></i></a></li>
                                </ul>
                                <input type = "hidden" th:value = "${product.id}" name = "id" class = "form-control">
                                <input type="submit" class="btn hvr-hover" value="Add to cart">
                            </div>
                        </div>
                        <div class="why-text">
                            <h4 th:text="${product.name}"></h4>
                            <h5 th:text="'$' + ${product.costPrice}"></h5>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- End Products  -->


<!-- Start Feed  -->
<div th:replace="~{fragments::instagram-box}"></div>

<!-- End Feed  -->


<!-- Start Footer  -->
<footer th:replace="~{fragments::footer}">

</footer>

<div th:replace="~{fragments::script}"></div>

</body>

</html>