<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!-- Basic -->

<head>
    <div th:replace="~{fragments::head}"></div>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<!-- Start Main Top -->
<div th:replace="~{fragments::main-top}">
</div>
<!-- End Main Top -->


<!-- Start Main Top -->
<header th:replace="~{fragments::main-header}">
</header>
<!-- End Main Top -->

<!-- Start Top Search -->
<div th:replace="~{fragments::top-search}">
</div>
<!-- End Top Search -->


<!-- Start All Title Box -->
<div th:replace="~{fragments::all-title-box}">
</div>
<!-- End All Title Box -->

<!-- Start Shop Page  -->
<div class="shop-box-inner">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right">
                <div class="right-product-box">
                    <div class="product-item-filter row">
                        <div class="col-12 col-sm-8 text-center text-sm-left">
                            <div class="toolbar-sorter-right">
                                <span>Sort by </span>
                                <select id="basic" class="selectpicker show-tick form-control"
                                        data-placeholder="$ USD" onchange="location = this.value;">
                                    <option>--Select--</option>
                                    <option value="http://localhost:8889/shop/shop-detail">Normal</option>
                                    <option value="http://localhost:8889/shop/high-price">High Price → Low Price
                                    </option>
                                    <option value="http://localhost:8889/shop/lower-price">Low Price → High Price
                                    </option>
                                    <option value="4">Best Selling</option>
                                </select>
                            </div>
                            <p>Showing all results</p>
                        </div>
                        <div class="col-12 col-sm-4 text-center text-sm-right">
                            <ul class="nav nav-tabs ml-auto">
                                <li>
                                    <a class="nav-link active" href="#grid-view" data-toggle="tab"> <i
                                            class="fa fa-th"></i> </a>
                                </li>
                                <li>
                                    <a class="nav-link" href="#list-view" data-toggle="tab"> <i
                                            class="fa fa-list-ul"></i> </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="product-categorie-box">
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade show active" id="grid-view">
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4" th:each="product : ${products}">
                                        <form th:action="@{/add-to-cart}" method="post">
                                            <div class="products-single fix">
                                                <div class="box-img-hover">
                                                    <img th:src="'data:image/jpeg;base64,' + ${product.image}"
                                                         class="img-fluid" alt="Image">
                                                    <div class="mask-icon">
                                                        <ul>
                                                            <li><a th:href="@{/product-detail/{id}(id = ${product.id})}"
                                                                   data-toggle="tooltip"
                                                                   data-placement="right" title="View"><i
                                                                    class="fas fa-eye"></i></a></li>
                                                        </ul>
                                                        <input type = "hidden" th:value = "${product.id}" name = "id" class = "form-control">
                                                        <input type="submit" class="btn hvr-hover" value="Add to cart">
                                                    </div>
                                                </div>
                                                <div class="why-text">
                                                    <h4 th:text="${product.name}"></h4>
                                                    <h5 th:text="'$' + ${product.costPrice}"></h5>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="list-view">
                                <div class="list-view-box">
                                    <div class="row" th:each="productView : ${productViews}">
                                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <div class="products-single fix">
                                                <div class="box-img-hover">
                                                    <img th:src="'data:image/jpeg;base64,' + ${productView.image}"
                                                         class="img-fluid"
                                                         alt="Image">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
                                            <div class="why-text full-width">
                                                <h4 th:text="${productView.name}"></h4>
                                                <h5 th:text="'$' + ${productView.costPrice}"></h5>
                                                <p th:text="${productView.description}"></p>
                                                <a class="btn hvr-hover" href="#">Add to Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-sm-12 col-xs-12 sidebar-shop-left">
                <div class="product-categori">
                    <div class="search-product">
                        <form th:action="@{/search-product}" method="get">
                            <input class="form-control" name="keyword" placeholder="Search here..." type="text">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <div class="filter-sidebar-left">
                        <div class="title-left">
                            <h3>Categories</h3>
                        </div>
                        <div class="list-group list-group-collapse list-group-sm list-group-tree"
                             id="list-group-men" data-children=".sub-men" th:each="categoryDto : ${categories}">
                            <a th:href="@{/find-products/{id}(id = ${categoryDto.id})}"
                               class="list-group-item list-group-item-action"
                               th:text="${categoryDto.name + '(' + categoryDto.productSize + ')'}"></a>
                        </div>
                    </div>
                    <div class="filter-price-left">
                        <div class="title-left">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End Shop Page -->

<!-- Start Feed  -->
<div th:replace="~{fragments::instagram-box}">

</div>

<!-- End Feed  -->


<!-- Start Footer  -->
<footer th:replace="~{fragments::footer}">

</footer>


<div th:replace="~{fragments::script}"></div>
</body>

</html>