<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: header">
</head>
<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <ul th:replace="fragments :: sidebar">
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:replace="fragments :: topbar"></nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <form class="form-horizontal" th:action="@{/save-product}" method="post" enctype="multipart/form-data" th:object = "${product}">
                    <fieldset>
                        <!-- Form Name -->
                        <legend>ADD PRODUCTS</legend>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="product_name">PRODUCT NAME</label>
                            <div class="col-md-4">
                                <input id="product_name" th:field = "*{name}" name="product_name" class="form-control input-md" required="" type="text">
                            </div>
                        </div>

                        <!-- Select Basic -->
                        <div class="form-group" >
                            <label class="col-md-4 control-label" for="categories">PRODUCT CATEGORY</label>
                            <div class="col-md-4">
                                <select id="categories" th:field = "*{category}" name="categories" class="form-control">
                                    <option th:value = "null">-SELECT-</option>
                                    <option th:each = "category : ${categories}"
                                            th:value = "${category.id}"
                                            th:text = "${category.name}">
                                    </option>
                                </select>
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="description">PRODUCT DESCRIPTION </label>
                            <div class="col-md-4">
                                <input id="description" th:field = "*{description}" name="description" class="form-control input-md" required="" type="text">

                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="available_quantity">AVAILABLE QUANTITY</label>
                            <div class="col-md-4">
                                <input id="available_quantity" th:field = "*{currentQuantity}" name="available_quantity" class="form-control input-md" required="" type="text">
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="price">PRICE</label>
                            <div class="col-md-4">
                                <input id="price" name="price" th:field = "*{costPrice}" class="form-control input-md" required="" type="text">
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <div class="col-md-4">
                                <!-- File Button -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="imageProduct">Image Product</label>
                                    <div class="col-md-4">
                                        <input id="imageProduct" name="imageProduct" class="input-file" type="file">
                                    </div>
                                </div>
                    </fieldset>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer th:replace="fragments :: footer">
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a th:replace="fragments :: scroll">
</a>

<!-- Logout Modal-->

<!-- Bootstrap core JavaScript-->
<div th:replace="fragments :: script"></div>
<script th:src="@{/js/categories.js}"></script>

</body>

</html>