<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: header">
</head>
<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <ul th:replace="fragments :: sidebar">
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:replace="fragments :: topbar"></nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <div th:if = "${size == 0}">
                    <p>No products in shop</p>
                </div>
                <div th:if = "${success}">
                    <p th:text = "${success}"></p>
                </div>
                <div th:if = "${error}">
                    <p th:text = "${error}"></p>
                </div>
                <a class="btn btn-primary" th:href = "@{/add-product}">Add new product</a>
                <table class="table table-striped" th:if = "${size > 0}">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Image</th>
                        <th scope="col">Update</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each = "product : ${products}">
                        <th scope="row" th:text = "${product.name}"></th>
                        <td th:text = "${product.category.name}"></td>
                        <td th:text = "${product.costPrice}"></td>
                        <td th:text = "${product.currentQuantity}"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer th:replace="fragments :: footer">
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a th:replace="fragments :: scroll">
</a>

<!-- Logout Modal-->

<!-- Bootstrap core JavaScript-->
<div th:replace="fragments :: script"></div>
<script th:src="@{/js/categories.js}"></script>

</body>

</html>